* {box-sizing:border-box;outline:none !important}
body {position:relative;width:100%;height:100%;background-size:cover}
.login_cont {width:1200px;margin:auto;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%); display:flex;justify-content: center;align-items: center;}
.login_cont {overflow: hidden;}
.login_cont .r_cont {float:right;width:40%;margin-top:20px;padding:60px 40px;background-color:#e2dee8;border-radius:3px}
.login_cont .r_cont .tit {font-size:38px;font-weight:bold;color:#514a60; margin: 0px;}
.login_cont .r_cont ul {padding: 0px;}
.login_cont .r_cont .txt {margin-bottom:50px;font-size:18px;color:#897ea1}
.login_cont .r_cont ul li input {padding: 0px; width:100%;margin-bottom:15px;padding:10px;height:50px;background-color:#f6f6f6;border:1px solid #d5d5d5;box-shadow:none;font-size:15px;color:#333}
.login_cont .r_cont .login_btn_wrap button {cursor:pointer; border: none;display:inline-block;width:100%;height:60px;padding:15px;background-color:#645d74;color:#fff;font-weight:bold;font-size:23px;text-align:center;letter-spacing:0.2em;border-radius:2px}
.login_cont .r_cont .login_btn_wrap a {display:inline-block;width:100%;height:60px;margin-top:30px;padding:15px;background-color:#ed7e33;color:#fff;font-weight:bold;font-size:23px;text-align:center;letter-spacing:0.2em;border-radius:2px}
.copyright {position:absolute;bottom:20px;left:0;right:0;text-align:center;font-size:12px;color:#666}

/* password find */
.password_find .l_cont {float:left;width:50%}
.password_find .r_cont {float:right;width:50%;margin-top:20px;padding:40px 40px;background-color:#fff;border-radius:3px}
.password_find .p_red {margin-top:-10px;margin-bottom:10px;font-size:12px;color:#cd3937;letter-spacing:-0.02em;font-weight:bold}
.password_find .login_btn_wrap a {float:left;width:50% !important}
.password_find .login_btn_wrap a:last-child {border-left:25px solid #fff}

.login_re {float:right;margin-top:10px;font-weight:600;font-size:14px;color:#d83c3a;letter-spacing:-0.02em}
.production_version {position: absolute;bottom: 5px;left: 0;right: 0;text-align: center;font-size: 12px;color: #666;}