html, body { width: 100%;  height: 100%; }
.page_tit { padding-top:10px; padding-bottom:10px; float: left; width: auto; padding-top: 3px; font-size: 25px; font-weight: 600; color:#000;} 
.page_container{ width:100%; }
.page_wrapper{ display:grid;  width:100%; 
display: inline-block;}
.blockchainReportWrapper { padding-right:30px; padding-left:30px; font-size: 15px; font-weight: 600; color:#000;}
.blockchainReportWrapper ul { padding: 0px; height:90px;width:100%; display:flex; display: flex; list-style: none; justify-content: space-around;}
.blockchainReportWrapper ul li { margin: 10px; height: 90px; display: flex;  justify-content: center; align-items: center;width:20%; text-align: center;}
.blockchainReportWrapper ul li .totalBlocksWrapper { height: 100%; width: 100%; }
.blockchainReportWrapper .tit { display: flex; justify-content: center; align-items: center; }
.blockchainReportWrapper .tit img { margin-right:10px; }
.blockchainReportWrapper .totalBlocksWrapper1 { background-color: #aed581; }
.blockchainReportWrapper .totalBlocksWrapper2 { background-color: #ffb74d;}
.blockchainReportWrapper .totalBlocksWrapper3 { background-color: #4fc3f7; }
.blockchainReportWrapper .totalBlocksWrapper4 { background-color: #ffee58; }
.blockchainReportWrapper .totalBlocksWrapper5 { background-color: #ff8a65; }

.totalBlocksWrapper .num { font-size:17px ; margin-top: 5px; }
.report_head_wrapper { display: flex; justify-content: space-between;}
.pdf_download_btn {background-color: #ff3020; float: left; font-size: 12px; padding: 0px 30px; border-radius: 5px; border: 0px; color: #fff; height: 35px;}
.box_wrap{width: 100%; padding: 10px 0;}
.boxfloat {width: 100%; }
.box { overflow: hidden; padding: 20px; }
.box .tit { padding-bottom: 10px; font-size: 20px; color: #cccdce; font-weight: bold; }
.box .tit img{vertical-align: inherit; }
.boxTitleWrapper { display:flex; }
/* datatable Setting */
table{ width:80%; }
thead , tbody{width:100%; background-color: lightgrey; font-size: 12px;}
thead th, tbody th{ border-left:0.1px solid #bfbfbf; border-bottom:0.1px solid #bfbfbf; }
.row_head{ background-color: #f3f1f1; }

/*chart css*/
.center {  margin: auto;  width: 50%; padding: 10px; }
#canvas_wrap_pie{ width:50%; display:flex; justify-content:center;margin:0 auto;}
#canvas_wrap_graph
#chaincodeUsePie, #smartContractUsePie, #userUsePie{width:60%}