h3 {border-bottom:2px solid rgb(184, 184, 184);height:30px;}
.container {display:flex;justify-content: center; width:100%;}
.container .contentsWrapper { margin-top: 60px; width:90%; }
.container .contentsWrapper .content{width:100%; margin: 10px; margin-bottom:20px; border:1px solid rgb(206, 206, 206); padding: 10px;padding-left:30px; padding-right:30px;}
.container .contentsWrapper .chartTestWrapper, .container .contentsWrapper .chartTestWrapper2  {height: 400px;}
.container .contentsWrapper .chartTestWrapper .lineChart, .container .contentsWrapper .chartTestWrapper2 .lineChart2{ height:80%; width:100%;}
.container .contentsWrapper .chartTestWrapper2 .lineChart2 .pieChartWrapper { height:100%;width:100%; display:flex; justify-content: center;}
.container .dialogTestWrapper .buttonWrapper { display:flex; justify-content: space-around; width:100%;}
.container .dialogTestWrapper .buttonWrapper button { cursor:pointer; border-radius: 5px; width:200px; height:50px; color:white; background-color: rgb(70, 72, 94); border:none;}
.container .source_url { font-size: 10px;}

@media (max-width: 767px) {
    .container .contentsWrapper .chartTestWrapper2 .lineChart2 {width:100%;}
    
  }