/* .container { height:100vh; min-height: calc(100vh);} */
.container .section1 { background-color: rgba(175, 109, 236, 0.26); height: 50vh;}
.container .section2 { background-color:rgba(128, 2, 128, 0.664); height: 50vh;}